extends layout

block content
	h1 Book List
	button(onclick="sortListDir()") Tri(A-Z)(Z-A)
	ul#id01.row
		each book, i in booklist
			li.column 
				h2 #{book.booktitre.toUpperCase()}
				p Auteur :  #{book.bookauteur}
				p Type :    #{book.booktype}
				p Année :   #{book.bookannee}
				p Editeur : #{book.bookediteur}
				p Vendeur : #{book.bookvendeur}
				p Prix :    #{book.bookprix} €
				button#btnPage(onclick="detailsBook()") Détails
