extends layout

block content
	h1.
		Book List
	ul
		each book, i in booklist
			h2.
				#{book.booktitre}
			p Auteur :  #{book.bookauteur}
			p Type :    #{book.booktype}
			p Année :   #{book.bookannee}
			p Editeur : #{book.bookediteur}
			p Vendeur : #{book.bookvendeur}
			p Prix :    #{book.bookprix} €
			button#btnPage(onclick="detailsBook()") Détails
			br
			img(src='images\0.jpg')
	
script.
	function detailsBook() {
		window.location.href = '/userlist'
	}