extends layout

block content
	h1 Liste des livres
	.column2
		p.button(onclick="sortListDir()") Tri(A-Z)(Z-A)
	.column2
		form#formRecherche(name="recherche",method="post",action="/recherche", required='')
			input#inputRecherche(type="text", placeholder="Rechercher livre", name="recherchetitre", required='')				
			button#btnSubmit(type="submit") Rechercher
	
	ul#id01.row
		each book, i in booklist
			if book != null
				li.column 
					.column2
						h2 #{book.booktitre.toUpperCase()}
						p Auteur :  #{book.bookauteur}
						p Type :    #{book.booktype}
						p Année :   #{book.bookannee}
						p Editeur : #{book.bookediteur}
						p Vendeur : #{book.bookvendeur}
						p Prix :    #{book.bookprix} €
						if loggedin == 1
							p.button(onclick=`Reservation(${JSON.stringify(book.booktitre)},${JSON.stringify(book.bookvendeur)},${JSON.stringify(book.bookprix)})`) Réserver
					.column2
						img.logo(src='http://localhost:3000/images/' + '#{book.bookimage}' height="300" width="200" alt='My_Logo')
