extends layout

block content
	h1.
		Liste des libraires
	ul
		each libraire, i in librairelist
			if libraire != null
				li.column 
					h2 #{libraire.librairesociete.toUpperCase()}
					p Adresse :  #{libraire.libraireadresse}
					p Mail :    #{libraire.libraireemail}
					p Téléphone :   #{libraire.librairetelephone}
					p.button(onclick=`LivreLibraire(${JSON.stringify(libraire.librairesociete)})`) Voir livres